services:
  worldsim:
    build: ./app
    container_name: worldsim
    restart: unless-stopped
    network_mode: host
    environment: [TZ=Europe/Stockholm]
    tmpfs: [/opt/worldsim/db:size=20m]
    volumes:
      - worldsim-www:/var/www/html/worldsim
      - ./data:/opt/worldsim/backups
      - ./data/archive:/opt/worldsim/archive

  web:
    build: ./web
    container_name: worldsim_web
    restart: unless-stopped
    ports: [8081:80]
    volumes: [worldsim-www:/usr/share/nginx/html/worldsim:ro]

volumes:
  worldsim-www:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=20m
